html {
    scroll-behavior: smooth;
}

.navbar-fixed-top {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.fh5co-cover {
    height: 100vh;
    background-position: 0 0 !important;
}

#fh5co-offcanvas ul li.active > a {
    color: #fff !important;
}

#fh5co-offcanvas {
    position: fixed;
}

.offcanvas #page {
    overflow-y: unset;
    position: relative;
}

