html {
    scroll-behavior: smooth;
}

.fh5co-nav ul li a {
    line-height: 45px;
}

.navbar-fixed-top {
    position: fixed;
    background-color: rgba(241, 78, 149, 0.4);
    padding: 5px 0;
}

.fh5co-nav.navbar-fixed-top #fh5co-logo {
    font-size: 20px;
}

.fh5co-nav.navbar-fixed-top ul li a {
    padding: 0 10px;
    line-height: 35px;
}

.navbar-fixed-top .fh5co-nav-toggle {
    padding: 5px;
    top: 0;
}

.fh5co-cover {
    height: 100vh;
    background-position: center !important;
}

#fh5co-offcanvas ul li.active > a {
    color: #fff !important;
}

#fh5co-offcanvas {
    position: fixed;
    background-color: #F14E95;
}

.offcanvas #page {
    overflow-y: unset;
    position: relative;
}

.case-studies-summary-more {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: table;
    z-index: 100;
}

.case-studies-summary-more h2 {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.fh5co-gallery-list-each-item > li a:not(:first-child) {
    display: none;
}

.my-text-color {
    color: #F14E95;
}

.gototop a {
    width: 40px;
    height: 40px;
}

.gototop a i {
    height: 40px;
}

#fh5co-counter, #fh5co-event, .fh5co-bg {
    background-position: center !important;
}

.couple-half .groom img, .couple-half .bride img {
    width: 100%;
    height: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
}

.couple-half .groom, .couple-half .bride {
    overflow: hidden;
}

.heart {
    margin: 0;
    width: 0;
    left: 47%;
}

@media screen and (max-width: 480px) {
    .couple-half .groom, .couple-half .bride {
        float: unset;
        display: block;
        margin: 0 auto 20px;
        height: 120px;
        width: 120px;
    }
}
